<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block jshead %}
    {% endblock %}
</head>


<body>
{% if messages %}
    {% for message in messages %}
    <div>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
{% endif %}

    <div class="m-2">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>
                        <a href="{% url 'atualiza_pedido' pedido.id %}">{{ pedido.id }}</a>
                    </td>
                    <td>
                        <a href="#" onclick="editaPedido('{{ pedido.id }}')" data-bs-toggle="modal" data-bs-target="#modalLabel">
                            {{ pedido.status }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>
    </div>
    
    {% include 'modal.html' %}


</body>

{% block footer %}
{% endblock %}

</html>