{% block jshead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

  
  <!-- Modal -->
  <div class="modal fade" id="modalLabel" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <form  id="pedidoModal" method="POST" action="">
        <div class="modal-body">
                           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  {% block footer %}
  <script>
      function editaPedido(pedido){
        urlEdita = "{% url 'edita_pedido_modal' 0 %}";
        urlEdita = urlEdita.replace('0', pedido);

        $.ajax({
          url: urlEdita,
          type: 'GET',
          success: function(data) {
              $('#pedidoModal .modal-body').html(data);
              $('#pedidoModal').attr('action', urlEdita);
          },
          error: function(data){
            alert('Erro ao carregar dados');
          }
      });
      }

  </script>
  {% endblock %}