<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
   
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
    {% for erro in form.errors %}
        {{ erro }}
    {% endfor %}

    {% endif %}
        
    <button type="submit"> Salvar</button>
   

    {{ form_itens.management_form }}
    <div id="form_set">
        {% for form_item in form_itens.forms %}
            <table class='no_error'>
                {{ form_item.as_table }}
            </table>
        {% endfor %}
    </div>


    <input type="button" value="Adicionar" id="add_more">
    <div id="empty_form" style="display:none">
        <table class='no_error'>
            {{ form_itens.empty_form.as_table }}
        </table>
    </div>

</form>

    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_itens_pedido-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_itens_pedido-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>

</body>
</html>


